<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/image/fav/17.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/contact.css">
    <title>contact</title>
</head>

<body>







    <!-- drowpdown navbar     -->
    <header class="header">
        <img id="image" src="../static/image/fav/11.png">
        <nav id="navbar">
            <ul class="menu-items">
                <li><a href="#" class="menu-item">Home</a></li>
                <li>
                    <a href="#" class="menu-item">Area</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="menu-item">Categories</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" class="menu-item">Jewelllery</a>
                        </li>
                        <li><a href="#" class="menu-item">T-shirt</a></li>

                        <li class="dropdown dropdown-right">
                            <a href="#" class="menu-item">Shoes
                        <i class="fas fa-angle-right"><B>></B></i>
                    </a>
                            <ul class="menu-right">
                                <li>
                                    <a href="#" class="menu-item">Joggers</a>
                                </li>
                                <li><a href="#" class="menu-item">Sleppers</a></li>
                                <li>
                                    <a href="#" class="menu-item">Ndure</a>
                                </li>
                                <li><a href="#" class="menu-item">Digger</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="#" class="menu-item">Computers</a>
                        </li>
                    </ul>


                    <li><a href="#" class="menu-item">Contact</a></li>
                    <li>
                        <a href="#" class="menu-item">price</a>
                    </li>
                    <h3>Search Here Items</h3><pre>    </pre><input type="serch" placeholder="Search" id="search">

            </ul>
        </nav>
    </header>

    <section class="section">
        <h1></h1>
    </section>
    <!-- FOTTER -->

    <footer id="mainFooter">
        <p>copright &copy; 2018 DEEMAZON Website</p>
    </footer>
</body>

</html>